// beautiful-button
$beautiful-button-color: #007BFF
$beautiful-button-background-color: #ffffff
$beautiful-button-border-color: #007BFF
$beautiful-button-hover-background-color: #007BFF
$beautiful-button-hover-color: white
// beautiful-button//

// Main Color
$main-color: #384242
// Main Color //

// Section Tabs
$section-tabs-wrapper-item-border-bottom-color: #BDBDBD
$section-tabs-link-hover-color: #0288D1
$section-tabs-link_active-border-color: #BDBDBD
$section-tabs-link_active-border-top-color: #0288D1
// Section Tabs //

//Section-form
$form-inputs-label-color: #BDBDBD
$form-input-border-color:  #CED4DA
$form-input-focus-border-color: #007BFF
// Section-form //

// Section-posts
$post-wrapper-title-and-wrapper-date-background-color: #282C34
$post-button-save-border-color: #0FC0FC
$post-button-save-background-color: #282C34
$post-button-save-hover-background-color: #0FC0FC

// Section-posts //